@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@800&display=swap');

.aboutInfo {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 40px;
  margin-top: 2%;
  img {
    width: 50%;
  }

  .about-info {
    width: 60%;
    text-align: left;
  }
}

#about {
  h1 {
    margin-top: 5%;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #e4837f;
  }
}