@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#about, #contact, #landingPage, #skills {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
#landingPage {
  padding-top: 5%;
}
#components {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;

}

#landingPage, #projects, #contact {
  background: #f8f1e8;
}

#projects {
  height: 100%;
  padding-bottom: 5%;
  padding-top: 5%;
}

button {
  background-color: #F2B279;
  border:none;
  padding: 10px;
  color: white;
  border-radius: 30px;
  transition:0.3s
}

button:hover {
  box-shadow: 5px 5px #D99B84;
}

