@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@800&display=swap');

#landingPage {
  img {
    max-width: 400px;
    min-width: 300px;
    height: auto;
  }
  .landingPageContent {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    flex-wrap: wrap;

      h1 {
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        font-size: 5em;
        margin-bottom: 0;
      }
      h2 {
        font-family: 'Open Sans', sans-serif;
        text-align: left;
        font-size: 2em;
        line-height: 1.5;
      }
  }

}