@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.project-card {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;
  img {
    max-width: 100%;
    height:100%;
    justify-self: start;
    object-fit: fill;
    overflow: hidden;
  }
  span {
    font-size: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 0 auto;
  }
  .projectImage {
    justify-self: start;
  }

}

#one.projectInfo {
  background-color: #9ca68d;
}

#two.projectInfo {
  background-color: #8da6a6;
}

#three.projectInfo {
  background-color: #8da69e;
}

#four.projectInfo {
  background-color: #93a68d;
}

.projectInfo {
  padding: 2% 70px;
  font-family: 'Open Sans', sans-serif;
  h1 {
    font-family: 'Playfair Display', serif;
  }
}

#projectTitle {
  h1 {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
  }
}