@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@800&display=swap');

#skillsSection {
  h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    padding-top: 5%;
  }
  .currentTechStack {
    p {
      font-size: 5em;
      margin: 0;
    }

  }

}