@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@800&display=swap');

#skillsSection {
  h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    padding-top: 3%;
    color: #e4837f;
  }
  h2 {
    font-family: 'Playfair Display', serif;
    color:#67a19e;
  }
  .currentTechStack {
    p {
      font-size: 3em;
      margin: 0;
    }
    img {
      width: 50px;
      margin: 0 1em;
    }
    svg {
      margin: 0 1em;
    }
  }
}
.wishList {
  margin-bottom:50px;
  h1 {
    margin-top: 0;
    padding-top: 20px;
  }
  svg {
    font-size: 3em;
    margin: 0 1em;

  }
}